# Python caches
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.env

# VS Code settings (Opcional, mas recomendado para estudos)
.vscode/

# Arquivos de sistema
Thumbs.db
.DS_Store

# Dados pesados (Se você não quiser subir bases de dados gigantes)
*.csv
*.json
!samsung_itens.json  # Isso diz: "ignore JSONs, EXCETO este que eu uso no estudo"