venv/
.venv/
env/
bin/
Include/
Lib/
Scripts/
pyvenv.cfg
*.pyc
__pycache__/
playground/
*~
# Ocultar pasta de testes do GitHub
02_Learning/Python-Studies/TripleTen/Testes/

# Ocultar o README de introdução pessoal (se for o caso)
roberty-data/

# Caches de Python
__pycache__/*.un~roberty-data/

04_Others/
